.logo
{
    margin: 0;
    padding: 0;
    width: 90px;
    height: 50px;
    color: black;
    float: left;
}
body {
	color: #fff;
	background:  url('background2.webp') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 255, 0.5)), to(rgba(0, 0, 255, 1)));
	background-repeat: no-repeat, repeat;
	min-height: 500px; 
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	background-position: center; 
	
}